* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #F0E7DA;
  padding: 30px;
}

.container {
  max-width: 500px;
  margin: auto;
  background-color: #74070E;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

#btn-voltar {
  background-color:  #F0E7DA;
  color: #74070E;
  border: none;
  padding: 8px 16px;
  width: 100px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btn-voltar:hover {
  background-color: #a00e17;
  color: #F0E7DA;

}


h2, h3 {
  text-align: center;
  margin-bottom: 20px;
}

.campo {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

button {
  background-color: #F0E7DA;
  color: #74070E;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

button:hover {
  background-color: #a52a2a;
  color: white;
}

.erro {
  color: yellow;
  font-size: 0.9em;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #F0E7DA;
  color: #000;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  
}

li button {
  background-color: red;
  color: white;
  border: none;
  width: 120px;
  padding: 5px 10px;
  margin: 3px;
  cursor: pointer;
  border-radius: 4px;
}
